/*
|------------------------------------------
|       Deactivation feedback form
|------------------------------------------
*/
#wpssc-deactivate-feedback-dialog-wrapper.hide-feedback-popup{
    opacity: 0;
}
#wpssc-deactivate-feedback-dialog-wrapper .wpssc-deactivation-container
{
    align-items: center;
    bottom: 0;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    display: flex;
}
#wpssc-deactivate-feedback-dialog-wrapper .wpssc-deactivation-container.deactivation-container-background{
    background-color: rgba(0, 0, 0, .5);
}
.wpssc-deactivation-response{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, .25);
    width: 600px;
    overflow: hidden;
    position: relative;
}
.wpssc-button {
    padding: 7px 13px;
    border-radius: 3px;
    border-width: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    border-style: solid;
    display: flex;
    gap: 8px;
    align-items: center;
}

#wpssc-deactivate-feedback-dialog-form-body .wpssc-deactivate-feedback-dialog-input:not(:checked)~:where(.wpssc-feedback-text,.wpssc-extra-links) {
    display: none;
}

#wpssc-deactivate-feedback-dialog-form-body .wpssc-extra-links{
    margin: -.5rem 0 1.3rem .5rem;
}

.wpssc-deactivation-response label{
    display: block;
    color: #474e55;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 26px;
}
.wpssc-deactivation-response textarea {
    margin: 10px;
    width: -webkit-fill-available;
}
.wpssc-deactivation-response input[type=radio]{
    float: left;
    margin-right: 10px;
    margin-top: 0px;
}
label.wpssc-deactivate-feedback-dialog-label {
    margin-bottom: 10px;
    color: #474e55;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
span#wpssc-feedback-form-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}
#wpssc-deactivate-feedback-dialog-form-caption {
    font-weight: 600;
    margin-bottom: 17px;
    font-size: 15px;
    padding: 10px 15px 0px 20px;
}

/*
|-----------------------
|       Preloader
|-----------------------
*/
.wpssc-deactivation-response #wpssc-loader-wrapper{
    display: none;
    float: none;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;   
    opacity: .9;
    background: white;
}
.wpssc-deactivation-response .wpssc-loader-container {
    display: block;
    text-align: center;
    top: 38%;
    position: absolute;
    left: 42%;
    text-align: center;
  }
.wpssc-deactivation-response img.wpssc-preloader {
    width: 40px;
    height: 40px;
}

/*
|----------------------
|        Colors
|----------------------
*/
#wpssc-form-wrapper {
    background-color: white;
    color: black;
}
#wpssc-deactivate-feedback-dialog-form-body { 
    padding:0px 20px;
}
#wpssc-deactivate-feedback-dialog-header {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a.wpssc-button:hover ,.wpssc-button.button-deactivate:hover {
    background: #135e96;
    color: white;
}
#wpssc-form-wrapper input#wpssc-GDPR-data-notice {
    float: left;
    margin-top: 4px !important;
}
.wpssc-plugin-popup-button-wrapper {
    border-top: 1px solid #e1e1e1;
    padding: 12px 20px;
    background-color:#f6f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wpssc-uninstall-feedback-privacy-policy {
    text-align: left;
    font-size: 12px;
    color: #aaa;
    line-height: 14px;
    margin: 20px 0px;
    font-style: italic;
}
.wpssc-deactivation-container .wpssc-form-title--icon-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}
.wpssc-deactivation-container .wpssc-form-title--icon-wrapper .wpssc-icon {
    width: 36px;
}
.wpssc-deactivation-container .wpssc-form-title--icon-wrapper .wpssc-title {
    color: #1f2937;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}
.wpssc-form-title--icon-wrapper h2 {
    margin: 0;
    padding: 0;
}
#wpssc-deactivate-feedback-dialog-wrapper .wpssc-deactivate-feedback-dialog-close {
    width: 20px;
    height: 20px;
    color: #9ca3af;
    cursor: pointer
}

#wpssc-deactivate-feedback-dialog-wrapper .wpssc-deactivate-feedback-dialog-close:hover {
    color: #4b5563
}

.wpssc-plugin-popup-button-wrapper #wpssc-plugin-submitNdeactivate{
    background: #4169E1;
    border-color: #4169E1;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    min-height: 28px;
    margin: 0;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 5px;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;
    padding: 8px 16px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
}
.wpssc-plugin-popup-button-wrapper #wpssc-plugin-submitNdeactivate{
    padding: 6px 15px;
    line-height: 2;
    font-size: 15px;
    min-width: 120px;
}
.wpssc-plugin-popup-button-wrapper #wpssc-plugin-submitNdeactivate:hover {
    background: #547cf4;
    border-color: #547cf4;
}
.wpssc-plugin-popup-button-wrapper #wpssc-plugin-submitNdeactivate.button-deactivate{
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
}
.wpssc-plugin-popup-button-wrapper #wpssc-plugin-skipNdeactivate {
    background: transparent;
    box-shadow: none;
    color: #4169E1;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    min-height: 28px;
    cursor: pointer;
    border: 1px solid #4169E1;
    -webkit-appearance: none;
    border-radius: 5px;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;
    padding: 8px 16px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
}
.wpssc-plugin-popup-button-wrapper #wpssc-plugin-skipNdeactivate:hover {
    background: rgb(231 231 231 / 50%);
}
.wpssc-required-field-messages p{
    color: #b32d2e;
    margin: 0 0 8px 0;
}