.wpssle-review-notice {
	padding: 15px 15px 15px 0;
	background-color: #fff;
	border-radius: 3px;
	margin: 20px 20px 0 0;
	border-left: 4px solid transparent;
}

.wpssle-review-notice::after {
	content: "";
	display: table;
	clear: both;
}

.wpssle-review-thumbnail {
	width: 270px;
	float: left;
	text-align: center;
	border-right: 4px solid transparent;
	margin-top: 24px;
}

.wpssle-review-thumbnail img {
	vertical-align: middle;
}

.wpssle-review-text {
	overflow: hidden;
}

.wpssle-review-text h3 {
	font-size: 24px;
	margin: 0 0 6px;
	font-weight: 400;
	line-height: 1.3;
}

.wpssle-review-text p {
	font-size: 13px;
	margin: 0 0 7px;
}

.wpssle-review-ul {
	margin: 0;
	padding: 0;
}

.wpssle-review-ul li {
	display: inline-block;
	margin-right: 15px;
}

.wpssle-review-ul li a {
	display: inline-block;
	color: #10738b;
	text-decoration: none;
	padding-left: 26px;
	position: relative;
}

.wpssle-review-ul li a span {
	position: absolute;
	left: 0;
	top: -2px;
}
